{% extends 'base.html.twig' %}

{% block title %}Admin panel - {{ category.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ category.name }}</h1>

            </div>
        </div>
    </div>
{% endblock %}
