{% extends 'base.html.twig' %}

{% block title %}VideoHub - My videos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Create a video</h1>
        </div>
    </div>
{% endblock %}
